@charset "utf-8";
img,input{border:none;vertical-align:middle;}
*{padding:0;margin:0;}

.title{width:100%;text-align: center;margin:20px auto;margin-bottom: 0;}
.gksel_ro{font-size:18px;margin:auto;width:1250px;margin-bottom:60px;overflow: hidden;}
.gksel_shopping_section{margin-top:20px;}
.gksel_ro .gksel_shopping{width:300px;float:left;margin-left:1%;}
.gksel_ro .gksel_shopping .header{color:#786752;}
.gksel_ro .gksel_shopping .input div span{color:#666666;}
.gksel_ro .gksel_shopping .input{margin-left:20px; margin-top:15px;width:80%;}
.gksel_ro .gksel_shopping .input div{margin-top:10px;}
.gksel_ro .gksel_shopping .input input{width:188px;height:28px;border-radius:5px;border:1px solid #666666;}

.gksel_show{overflow:hidden;width:1250px;margin:auto;}
.gksel_show .gksel_show_section{float:left;width: 285px;height:305px;text-align: center;overflow:hidden}
.gksel_show_2 .gksel_show_section .left{float:left;width:50%;overflow:hidden;}
.gksel_show_2 .gksel_show_section .left p{margin-bottom:20px;}
.gksel_show_2 .gksel_show_section .left .left_color{float:left}
.gksel_show_2 .gksel_show_section .left .left_color div{margin:10px;}
.gksel_show_2 .gksel_show_section .left .left_size div{margin:10px;}
.gksel_show_2 .gksel_show_section .left .left_color input{margin-right:30px;margin-left:20px;}
.gksel_show_2 .gksel_show_section .left .left_size input{margin-right:10px;margin-left:10px;}
.gksel_show_2 .gksel_show_section .left .left_size{float:left;margin-left:80px}
.gksel_show_2 .gksel_show_section .right{float:left;width:49%;overflow:hidden;}
.gksel_show_2 .gksel_show_section .right div{float:left;width:30%;text-align:center;}
.gksel_show_2 .gksel_show_section .right div input{margin:20px auto;outline: medium;border-bottom:1px solid black;width:80%}
.gksel_show_2 .gksel_show_section .right div:nth-child(2){margin:auto 5%;}
.gksel_show_2{overflow:hidden;width:1250px;margin:auto;margin-top:40px;}
.gksel_show p{margin-top:20px;}
.gksel_show_2 p{margin-top:20px;}
.gksel_show_2 .gksel_show_section{margin-left:50px;}
.gksel_show_2 .gksel_show_section span{margin-left: 40px;}
.btn{width:100%;margin: auto;}
.btn input{width:100px;height:50px;display:block;margin:auto;font-size: 18px;margin-bottom:50px;}
table{ border-collapse:collapse;margin:auto;}
td {width:100px;overflow:hidden;}
td input{width:100%;height:60px;text-align:center;outline:medium !important;}
td div{float:left;}
.table_merge input{height:20px;border:none !important;border-bottom:1px solid black !important;width:60%;}
td input{color:blue;}
th div{width:150px;}